@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Root>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<section class="container" id="bookingForm">

    @using (Html.BeginUmbracoForm("Submit", "BookingSurface"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="nodeId" value="@Model.Content.Id" />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName">Navn</label>
                <input type="text" class="form-control" id="inputName" placeholder="Navn" name="Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputTelephone">Telefon</label>
                <input type="text" class="form-control" id="inputTelephone" placeholder="Telefon" name="Telephone">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Ønsket område</label>
            <select class="form-control" id="exampleFormControlSelect1" name="Area">
                <option selected disabled>Velg en</option>
                <option>Lille sal</option>
                <option>Store sal</option>
                <option>Begge</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Kommentar/ønsker" name="Comment"></textarea>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input type="hidden" name="Wash" value="False">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="Wash" value="True">
                <label class="form-check-label" for="gridCheck">
                    Ønsker vasking
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="fraDato">Fra</label>
                <input type="date" class="form-control" id="fraDato" placeholder="Fra dato" name="From">
            </div>
            <div class="form-group col-md-6">
                <label for="tilDato">Til</label>
                <input type="date" class="form-control" id="tilDato" placeholder="Til dato" name="To">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    }
</section>

@Html.GetGridHtml(Model.Content, "grid", "Bootstrap4")