<div ng-controller="BookingController">
    <umb-table ng-if="ready"
               items="bookings"
               item-properties="options.includeProperties"
               allow-select-all="allowSelectAll"
               on-select="selectItem"
               on-click="clickItem"
               on-select-all="selectAll"
               on-selected-all="isSelectedAll"
               on-sorting-direction="isSortDirection"
               on-sort="sort">
    </umb-table>
    <umb-overlay ng-if="overlay.show"
                 model="overlay"
                 view="overlay.view"
                 position="right"
                 class="overview-dashboard__overlay">
    </umb-overlay>

</div>