<div ng-controller="BookingOverlayController">
    <div>
        <label class="overlay__label">
            <span>Navn</span>
            <br />
            <input type="text" ng-model="model.booking.name" class="overlay__input"/>
        </label>
        <hr />
        <label class="overlay__label">
            <span>Telefon</span>
            <br />
            <input type="text" ng-model="model.booking.Telephone" class="overlay__input"/>
        </label>
        <hr />

        <label class="overlay__label">
            <span>Område</span>
            <br />
            <input type="text" ng-model="model.booking.Area" class="overlay__input"/>
        </label>
        <hr />

        <label class="overlay__label">
            <span>Kommentar</span>
            <br />
            <textarea ng-model="model.booking.Comment" class="overlay__input" rows="8">
            </textarea>
        </label>
        <hr />

        <label class="overlay__label">
            <input type="checkbox" ng-model="model.booking.Approved" ng-change="UpdateApproved()" />
            <span>Godtatt</span>
        </label>
        <hr />

        <label class="overlay__label">
            <span>Fra</span>
            <br />
            <input type="date" ng-model="model.booking.From" class="overlay__input"/>
        </label>
        <hr />

        <label class="overlay__label">
            <span>Til</span>
            <br />
            <input type="date" ng-model="model.booking.To" class="overlay__input"/>
        </label>
    </div>

</div>