@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Root>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<header>
    <nav>

    </nav>
</header>
<h1> Booking form</h1>

@{
    Html.RenderPartial("~/Views/Partials/_BookingForm.cshtml", new RensvikSamfunnshus.Models.BookingFormSubmission());
}

<footer></footer>