@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Root>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<header>
    <nav>

    </nav>
</header>

<footer></footer>